.product {
  width: 300px;
  height: 510px;
  margin: 30px 20px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 8px
}
.product img {
  width: 286px;
  height: 286px;
  border-radius: 5px;
  /* padding: 5px; */
}